@import "~bootstrap/scss/bootstrap";
@import "variables.scss";

// Pages
@import "../views/pages/homepage/homepage.scss";
@import "../views/pages/login/_login-page.scss";
@import "../views/pages/register/_register-page.scss";

// Components
@import "../views/components/appointments/appointments-panel.scss";


.logout {
    color: #007bff;
    margin-left: 20px;

    &:hover {
        color: #3999ff
    }
}

.chat {

    &__container {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        
    }
}

.dashboard {
    margin-bottom: 75px;
}

#reason {
    margin-bottom: 15px;
}

.apt-detail {

    button {
        margin-right: 10px;
    }
}